version agility

At IETF 124, some expressed concerns regarding whether QMux might introduce ossification.

To address that concern, I suggest we look at prior art and derive a resolution:
* [HTTP/3 (RFC 9114), §3.2](https://datatracker.ietf.org/doc/html/rfc9114#section-3.2): “HTTP/3 relies on QUIC version 1 as the underlying transport. The use of other QUIC transport versions with HTTP/3 MAY be defined by future specifications.”
* QUIC version 2 (RFC 9369) with Compatible Version Negotiation (RFC 9368): [QUIC v2 states](https://datatracker.ietf.org/doc/html/rfc9369#name-applicability) there is no change in application capabilities compared to v1; therefore, ALPNs defined for v1 (e.g., “h3”, “doq”) also operate over v2. Compatible VN provides the negotiation and downgrade protection.

Looking at these, I think we might do the following two:

__1. Allow compatible version upgrade between different QMux versions.__

These QMux versions retain the same set of functions for dealing with streams and datagrams that QUIC version 1 promises ([RFC 9000 §2.4](https://datatracker.ietf.org/doc/html/rfc9000#name-operations-on-streams)), but might map to different versions of QUIC in terms of the wire encodings they use.

Regarding how the compatible version upgrade is done, we can defer specifics to the document that defines the new version; e.g., the client could send a list of supported versions as a Transport Parameter in its first flight while sending QMux v1 frames that convey data, and then, based on the server’s selection, switch to that version.

__2. State that when an incompatible version of QMux is introduced, the expectation is that application protocols mint a new ALPN.__

If a client can use multiple application flavors that depend on different, incompatible QMux versions, the client uses ALPN to select the flavor.

　

Some might argue that incompatible version negotiation should be a QMux feature rather than using ALPN. However, there are two drawbacks:
* Version negotiation incurs a round trip unless endpoints speculatively send data before the version is negotiated.
* If endpoints are required to negotiate versions while sending frames speculatively, they must buffer and retransmit if the speculated version is wrong. That would be unfortunate, as one benefit of QMux is delegating buffering and retransmission to the underlying substrate.

That is why I think the resolution proposed above is adequate.